.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 250px;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    background-color: #fff;
}

.page-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.soa-form {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.patient-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.patient-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.patient-info {
    margin-bottom: 10px;
}